<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/home-page">Home</a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/record-report">Records Reports</a>
  </li>
  <li routerLinkActive="active" class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink = "/update-report">Update Records</a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/view-reports">View Records</a>
  </li>

  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/calculate-report">Calculate All Reports</a>
  </li>
</ul>
