
<div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-4 loginform">
        <form>
          <div class="form-group">
              <label class="font">Username</label>
              <input type="text" class="form-control">
          </div>

          <div class="form-group">
              <label class="font">Password</label>
              <input type="password" class="form-control">
          </div>

          <div>
            <button type="submit" class="btn btn-success">Log in</button>
            <button type="button" class="btn btn-link  font" data-toggle="modal" data-target="#signup">Sign Up</button>
          </div>
        </form>
      </div>
    </div><!--End of Row Colume-->

    <!--Declaring my Signup Modal-->
    <div id="signup" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success font" id="modal-header">Sign Up</div>
          <div class="modal-body">
              <app-signup></app-signup>
          </div>
        </div>
      </div>

    </div>
</div><!--End of fluid container-->

