<div class="container">
  <div class="row">
    <div class="col signup">
      <form>
        <div class="form-group">
          <label for="Usename" class="font">Username </label>
          <input type="text" class="form-control" placeholder="Enter Your username"/>
        </div>
        <div class="form-group">
            <label for="fullname" class="font">FullName </label>
            <input type="text" class="form-control" placeholder="Enter Your fullname"/>
          </div>
          <div class="form-group">
              <label for="fullname" class="font">Email </label>
              <input type="text" class="form-control" placeholder="Enter Your Email"/>
            </div>

            <div class="form-group">
                <label for="fullname" class="font">Phone Number </label>
                <input type="text" class="form-control" placeholder="Enter Your Phone Number"/>
              </div>

              <div class="form-group">
                  <label for="fullname" class="font">Password </label>
                  <input type="text" class="form-control" placeholder="Enter Your Password"/>
                </div>

                <div class="form-group">
                    <label for="fullname" class="font">Comfirm Password </label>
                    <input type="text" class="form-control" placeholder="Comfirm Password"/>
                  </div>
            <button type="button" class="btn btn-success font">Sign Up</button><!--Font is a class declare by me to style my signup font-->
            <button type="button" class="btn btn-danger  font" data-dismiss="modal" >Close</button><!--Font is a class declare by me to style my signup font-->
        </form>
    </div>
  </div>
</div>
