<div class="container-fluid main-container">
    <div class="well well-class bg-dark"></div>
<div class="well well-class"></div> <!-- Well class is a css style added by me-->
<div class="row row-col" ><!-- Row-col is a class that was added by me for styling purpose-->
    <div class="col-md-2 sideNavDiv"><!-- This is the colume for the side navigation Bar-->
      <app-header-side></app-header-side>
    </div><!-- The side navigation Bar end here-->
    <div class="col-md-10 bg-primary contentDisplay"><!-- This is the colume for the display content-->
    </div><!-- The content end here-->
</div><!-- End of row col-->
<app-footer></app-footer>
</div><!-- End of main container-->

<!--
  NOTE:
  1. sideNavDiv is a class div added by me for styling my navigation div.
  2. contentDisplay is a class div added by me for styling my contentDisplay div.
-->

