.well-class{
  background-color: #f0f0f0;
  padding: 20px;
}
.main-container{
  padding: 0px;
}

/*
* Below is the styling for the side navigation bar;
*/
.row-col, .sideNavDiv, .contentDisplay{
  min-height:50vh;
  max-height:100vh;
  height: 100vh;
}
